.Global {
  &.h-divider {
    border: solid 1px black;
  }

  &.errors {
    color: red;
  }

  &.Modal {
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

body {
  font-family: sans-serif;
}
