.hidden {
  display: none;
}

ul {

  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    max-width: 50px;
  }

  .login {
    display: flex;
    gap: 1em;

  }

  .img {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  li {
    list-style-type: none;
  }
}
